*.pyc

ckpt/
vis/
log/
pretrained/
job_scripts/

.ipynb_checkpoints

ADE_val*.jpg
ADE_val*.png

.idea/


# Semantic Segmentation CSAILVision files not being used

setup.py
requirements.txt
eval_multipro.py
download_ADE20k.sh
demo_test.sh
README.md

teaser/
notebooks/

LICENSE